bin/build

GameOfGames/Release
GameOfGames/Debug

*.sln
*.res
*.aps
*.rc
*.tlog
*.log
*.obj
*.idb
*.pdb
*.lastbuildstate
*.sdf
*.suo
*.user
*.obj
*.tlog
*.idq
*.pdb
*.log
*.lastbuildstate
*.ilk
*.exe
*.idb
*.opensdf